<%# TODO: フラッシュメッセージ %>
<div class="min-h-full">
    <nav class="fixed">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <%# ロゴ %>
                    <a href="/" class="flex items-center">
                        <div class="flex-shrink-0">
                            <%# TODO: 動的に画像挿入 %>
                            <%= image_tag "hannah_logo.png", alt: 'src', class: "mx-auto h-10 w-auto" %>
                        </div>
                        <div class="pl-1">
                            <p><span class="text-lime-900 font-bold">hannah</span></p>
                        </div>
                    </a>
                    <%# ナビゲーション（PC） %>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4"></div>
                    </div>
                </div>
                <div class="hidden md:block">
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button type="button" id="toggleButton" class="relative inline-flex items-center justify-center rounded-md bg-lime-800 p-2 text-lime-400 hover:bg-lime-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-lime-800" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- ハンバーガー展開後 -->
        <div class="hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <a href="#" class="bg-lime-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Top</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Products</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Place an order</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Shop</a>
            </div>
        </div>
    </nav>

    <main>
        <div class="mx-auto max-w-7xl py-6 px-6 lg:px-8">
            <div class="pt-20 sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-lime-900">Confirm order and billing information</h2>
            </div>

            <%# 店舗情報 %>
            <div class="bg-white-200 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-18 lg:max-w-7xl lg:px-8">
                <div class="px-4 sm:px-0">
                    <h3 class="text-base font-semibold leading-7 text-gray-900">Confirm order information</h3>
                    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">To return to the input screen, click the "Correct input contents" button.</p>
                    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">*Please do not use your browser's back button.</p>
                </div>
                <%= form_with model: @complete_order, url: complete_path, local: true do |form| %>
                <div class="mt-6 border-t border-gray-100">
                    <dl class="divide-y divide-gray-100">
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Store phone number</dt>
                        <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                            <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                <%# TODO: liを繰り返し処理で出力、配列とかで商品情報を格納し、メール本文に反映 %>
                                <% @selected_products.each do |key, value| %>
                                    <%= form.fields_for :order_products, index: key do |order_form| %>
                                        <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                            <div class="flex w-0 flex-1 items-center">
                                                <span class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= value["product_name"] %></span>
                                                <%= order_form.hidden_field :product_name, value: value["product_name"] %>
                                            </div>
                                            <div class="flex w-0 flex-1 items-center">
                                                <span class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%=  number_with_delimiter(value["choice"]) %></span>
                                                <%= order_form.hidden_field :choice, value: number_with_delimiter(value["choice"]) %>
                                            </div>
                                        </li>
                                    <% end %>
                                <% end %>
                                <%# 繰り返しここまで %>
                            </ul>
                            
                        </dd>
                        <dt class="text-sm font-medium leading-6 text-gray-900 mt-3">Total price</dt>
                        <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                            <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                <%# TODO: liを繰り返し処理で出力 %>
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <span class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Billing amount</span>
                                    </div>
                                    <div class="flex w-0 flex-1 items-center">
                                        <span class="font-bold mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= number_with_delimiter(@total_price) %>baht</span>
                                        <%# TODO: valueに値を持たせる %>
                                        <%= form.hidden_field :total_price, value: number_with_delimiter(@total_price) %>
                                    </div>
                                </li>
                                <%# ここまで %>
                            </ul>
                            <p class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">*Shipping will be borne by the customer.</p>

                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Your name</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @name %></dd>
                        <%# TODO: valueに値を持たせる %>
                        <%= form.hidden_field :customer_name, value:@name %>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Shipping address</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @address %></dd>
                        <%# TODO: valueに値を持たせる %>
                        <%= form.hidden_field :customer_shipping_address, value:@address %>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Delivery date</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @delivery_date %></dd>
                        <%# TODO: valueに値を持たせる %>
                        <%= form.hidden_field :customer_delivery_date, value:@delivery_date %>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Delivery time</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @delivery_time %></dd>
                        <%# TODO: valueに値を持たせる %>
                        <%= form.hidden_field :customer_delivery_time, value:@delivery_time %>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Your Email</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @email %></dd>
                        <%# TODO: valueに値を持たせる %>
                        <%= form.hidden_field :customer_email, value:@email %>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Your phone number</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @phone_number %></dd>
                        <%# TODO: valueに値を持たせる %>
                        <%= form.hidden_field :customer_phone_number, value: @phone_number %>
                    </div>
                    <div>
                    </div>
                    </dl>
                    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-10">
                        <%= form.submit "Confirm order details", class: "flex w-full justify-center rounded-md bg-lime-600 mt-6 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-lime-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-600" %>
                    </div>
                </div>
                <% end %>
                <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-10">
                    <%# TODO: aタグなどにして入力画面に遷移、内容は引き継ぎ %>
                    <%= form_with model: @complete_order, url: back_path, local: true do |form| %>
                        <% @selected_products.each do |key, value| %>
                            <%= form.fields_for :order_products, index: key do |order_form| %>
                                <%= order_form.hidden_field :product_name, value: value["product_name"] %>
                                <%= order_form.hidden_field :choice, value: value["choice"] %>
                            <% end %>
                        <% end %>
                        <%= form.hidden_field :customer_name, value:@name %>
                        <%= form.hidden_field :customer_shipping_address, value:@address %>
                        <%= form.hidden_field :customer_delivery_date, value:@delivery_date %>
                        <%= form.hidden_field :customer_delivery_time, value:@delivery_time %>
                        <%= form.hidden_field :customer_email, value:@email %>
                        <%= form.hidden_field :customer_phone_number, value: @phone_number %>
                        <%= form.submit "Correct input contents", class: "flex w-full justify-center rounded-md bg-gray-400 mt-6 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" %>
                    <% end %>
                </div>
            </div>
        </div>
    </main>
    
    <%# フッター %>
    <%= render partial: 'layouts/footer' %>

</div>
<%# TODO: JSを切り分けて保存 %>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        // ボタン、メニューを定数定義
        const mobileMenuButton = document.querySelector('#toggleButton');
        const mobileMenu = document.getElementById('mobile-menu');

        // ハンバーガーメニュー押下でメニュー表示切り替え
        mobileMenuButton.addEventListener('click', function () {
            mobileMenu.classList.toggle('hidden');
        });
    });

    window.onload = function() {
        console.log('nul');
        history.pushState(null, null, null);

        window.addEventListener("popstate", function (e) {
            history.pushState(null, null, null);
            console.log('nulnulnul');
            alert('Do not use your back button.The input information will be reset.');
            return;
        });

    };

</script>