<%# TODO: エラーメッセージ、フラッシュメッセージ、バリデーション、JSON関連 %>
<div class="min-h-full">
    <nav class="fixed">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <%# ロゴ %>
                    <div class="flex-shrink-0">
                        <%# TODO: サイトロゴを動的に設定 %>
                        <%# <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"> %>
                        LOGO
                    </div>
                    <%# ナビゲーション（PC） %>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                        <!-- ナビゲーション -->
                        <%# <a href="#" class="text-gray-300 rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a> %>
                        <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Product list</a>
                        <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Product registration</a>
                        <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Store infomation</a>
                        <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Site settings</a>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button type="button" id="toggleButton" class="relative inline-flex items-center justify-center rounded-md bg-lime-800 p-2 text-lime-400 hover:bg-lime-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-lime-800" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- ハンバーガー展開後 -->
        <div class="hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <a href="#" class="bg-lime-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Product list</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Product registration</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Store infomation</a>
                <a href="#" class="text-lime-700 hover:bg-lime-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Site settings</a>
            </div>
        </div>
    </nav>

    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Product registration</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">AYou can register products to sell online.</p>
        </div>
        <%= form_with model: @product , url: store_product_path, local: true, class: "mx-auto mt-16 max-w-xl sm:mt-20" do |form| %>
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                <div>
                    <%= form.label :name, "Product name", class: "block text-sm font-semibold leading-6 text-gray-900"%>
                    <div class="mt-2.5">
                        <%= form.text_field :name, placeholder: "Amnesia", class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                    </div>
                </div>

                <div>
                </div>

                <div class="sm:col-span-2">
                    <%= form.label :summary, "Product overview", class: "block text-sm font-semibold leading-6 text-gray-900"%>
                    <div class="mt-2.5">
                    <%= form.text_area :summary, placeholder: "Sativa dominant / THC18% / Enagetic / Sweet flavor", class: "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <%= form.label :summary, "Product image", class: "block text-sm font-semibold leading-6 text-gray-900"%>
                    <div class="mt-2.5">
                        <%= form.file_field :image, class: "block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
                            file:bg-gray-50 file:border-0
                            file:bg-gray-100 file:me-4
                            file:py-3 file:px-4
                            dark:file:bg-gray-700 dark:file:text-gray-400" %>
                    </div>
                </div>

                <div>
                    <p class="block text-sm font-semibold leading-6 text-gray-900">Purchase options</p>
                    <%# 追加ボタンクリックによりadded-blockが増える（indexの値は1足された状態） %>
                    <div id="form-container">
                        <div class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <%= form.fields_for :choices, index: 0 do |choices_form| %>
                                <div class="flex justify-between">
                                    <div class="w-1/3">
                                        <%= choices_form.label :gram, "grams", class: "block text-sm font-semibold leading-6 text-gray-900"%>
                                        <div class="mt-2.5 flex">
                                            <%= choices_form.number_field :gram, placeholder: "3", class: "block w-2/3 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                            <p class="inline-block w-1/3 text-center pt-4">g</p>
                                        </div>
                                    </div>
                                    <div class="w-1/12 mt-12">
                                        <p class="inline-block w-full text-center">/</p>
                                    </div>
                                    <div class="w-1/2">
                                        <%= choices_form.label :price, "price", class: "block text-sm font-semibold leading-6 text-gray-900"%>
                                        <div class="mt-2.5 flex">
                                            <%= choices_form.number_field :price, placeholder: "1500", class: "block  w-2/3 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                            <p class="inline-block w-1/3 text-center pt-4">baht</p>
                                        </div>
                                    </div>
                                </div>
                            <% end %><%# /fields_for %>
                        </div><%# /added-block %>
                    </div>
                    <%# TODO: JSでボタンを押下した時にフォームを増やす %>
                    <button type="button" onclick="addForm()" class="js-add-option block rounded-md bg-lime-600 mt-2 sm:mt-1.5  px-3.5 py-1.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-lime-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-600">＋ Increase purchasing options</button>
                </div>

                <div>
                </div>
                <%# fast_shipping_flg %>
                <div class="flex gap-x-4 sm:col-span-2">
                    <label class="relative inline-flex items-center cursor-pointer">
                        <%= form.check_box :fast_shipping_flg, class: "sr-only peer" %>
                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-lime-300 dark:peer-focus:ring-lime-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-lime-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Please turn it on if the item is <span class="font-semibold text-lime-600">same day shipping</span> .</span>
                    </label>
                </div>
                <%# sold_out_flg %>                
                <div class="flex gap-x-4 sm:col-span-2">
                    <label class="relative inline-flex items-center cursor-pointer">
                        <%= form.check_box :sold_out_flg, class: "sr-only peer" %>
                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Please turn it on if the item is <span class="font-semibold text-red-600">out of stock</span> .</span>
                    </label>
                </div>
            </div>

            <div class="mt-10">
            <button type="submit" class="block w-full rounded-md bg-lime-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-lime-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-600">Register your product</button>
            </div>
        <% end %>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // ボタン、メニューを定数定義
        const mobileMenuButton = document.querySelector('#toggleButton');
        const mobileMenu = document.getElementById('mobile-menu');

        // ハンバーガーメニュー押下でメニュー表示切り替え
        mobileMenuButton.addEventListener('click', function () {
        mobileMenu.classList.toggle('hidden');
        });
    });


    let index = 1;

    // 追加ボタン押下でフォームが増える
    function addForm() {
        const formContainer = document.getElementById('form-container');
        const newForm = document.createElement('div');
        newForm.innerHTML = `
                        <div class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <div class="flex justify-between">
                                <div class="w-1/3">
                                    <label class="block text-sm font-semibold leading-6 text-gray-900" for="product[choices][${index}][gram]">grams</label>
                                    <div class="mt-2.5 flex">
                                        <input placeholder="3" class="block w-2/3 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" type="text" name="product[choices][${index}][gram]" id="product_choices_1_gram">
                                        <p class="inline-block w-1/3 text-center pt-4">g</p>
                                    </div>
                                </div>
                                <div class="w-1/12 mt-12">
                                    <p class="inline-block w-full text-center">/</p>
                                </div>
                                <div class="w-1/2">
                                    <label class="block text-sm font-semibold leading-6 text-gray-900" for="product[choices][${index}][price]">price</label>
                                    <div class="mt-2.5 flex">
                                        <input placeholder="1500" class="block  w-2/3 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" type="text" name="product[choices][${index}][price]" id="product_choices_1_price">
                                        <p class="inline-block w-1/3 text-center pt-4">baht</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
        formContainer.appendChild(newForm);

        index += 1;
    }
</script>